*
extgen/*
extgen/*/
primaryskims/*/
primaryskims/*

# Except this file
!.gitignore
!extgen/
!primaryskims/
!extgen/ferrous_analysis.C
!extgen/ferrous_analysis.h
!extgen/ferrous_gettable.C
!primaryskims/skimTree.C
!primaryskims/skimMacro
